# Secrets
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/

# Données et artefacts
warehouse/*.duckdb
warehouse/*.duckdb.wal
data/raw/
*.parquet

# dbt
target/
dbt_packages/
logs/

# OS
.DS_Store
Thumbs.db
